* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(235, 231, 231);
}

.container {
    margin: 80px;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 18px;
}

button {
    background-color: rgb(194, 45, 45);
    color: #fff;
}

button:hover {
    background-color: rgb(119, 5, 5);
}

h1 {
    margin-bottom: 35px;
}

h3 {
    margin-top: 35px;
}

input.error {
    color: red;
    outline-color: red;
    border-color: red;
}

.error-message {
    padding: 8px;
    background-color: red;
    color: #fff;
    margin-bottom: 8px;
    font-size: 12px;
    display: none;
}

.success-message {
    background-color: #27ae60;
    padding: 16px;
    color:#fff;
    display: none;

}